
body{
  background-color: white;
  box-sizing: border-box;
  margin:0;
  padding:0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.RecipePage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;  
  margin:auto;
  margin-top: 80px;
  padding: 40px;
  text-align: center;
  width: fit-content;
  height: auto;
}

.RecipePage h2 {
  color: white;
  background-color: #FBC41B;
  text-shadow: -1px -1px 0 black,  
  1px -1px 0 black,
 -1px  1px 0 black,
  1px  1px 0 black;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  width: fit-content;
  display: flex-start;
}

.Recipe-card{
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  width:500px;
  height: 400px;
  box-shadow: 5px 10px  #FBC41B;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;

}

.Recipe-card h3{
  margin: 0px;
  text-align: left;
  background-color: #FBC41B;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  width: fit-content;
  color: white;
  text-shadow: -1px -1px 0 black,  
  1px -1px 0 black,
 -1px  1px 0 black,
  1px  1px 0 black;;
}

.Recipe-card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FBC41B;
  padding: 5px;
  border-radius: 5px;
}

.Recipe-card-info button {
  background-color: #FBC41B;
  padding: 0;
}

.RecipeList{
  max-width: 1280px;
  margin:0 auto;
  padding: 2rem;
  text-align: center;
  color:black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}


.footer{
  display: flex;
  align-items: center; 
  bottom: 0;
  width: 100vw;
  height: 60px;
  color: white;
  background-color: grey;
  justify-content: center;
  position: bottom;

}

.footer a{
  background-color:grey;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  .footer p{
    background-color:grey;
    color:white;
    margin: 0;
  }

  .footer, github-logo{
    padding: 0%;
  }


.header{
  display: flex;
  width: 100vw;
  height: 60px;
  flex-direction: row;
  position: fixed;
  top: 0vh;
  left: 0;
  color: black;
  align-items: center;
  background-color:  grey;
  justify-content: space-between;
  padding: 5px;
  justify-content: space-between;
  
}

.header h1{
  background-color: grey;
  color:  #FBC41B;
  font-style: bold;
}

.header button{
  background-color: grey;
  padding: 0px;
  margin: 10px;
  border: 1px solid #FBC41B;
  height: 60px;
  width: 60px;
}


.Sidebar{
  width:250px;
  top:70px;
  height: 100%;;
  background-color:lightgray;
  color:black;
  position:fixed;
  padding: 0;
  margin: 0;

}

 .RecipePage{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left:250px;
  margin-top: 100px;
  
} 

.About{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;  
  margin-top: 80px;
  margin-bottom: 100px;
  margin-left: 250px;
  padding: 40px;
  text-align: center;
  width: fit-content;
  height: auto;
}

.AddRecipe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.AddRecipe-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
 
}
.AddRecipe-container h2{
  color: white;
  background-color:  #FBC41B;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
  text-shadow: -1px -1px 0 black,  
  1px -1px 0 black,
 -1px  1px 0 black,
  1px  1px 0 black;;
}

.AddRecipe-form input{
  color:black;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  margin-top: 10px;
}

.form-input-div{
  margin-top: 10px;
}

.AddRecipe-form label{
  color: black;
  font-weight: bold;
  padding: 5px;
}

.AddRecipe-form button{
  background-color: grey;
  border-radius: 10px;
  border : 1px solid black;
  margin: 10px;
}

.NotFound-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;  
  margin:auto;
  margin-top: 80px;
  padding: 40px;
  text-align: center;
  width: fit-content;
  height: auto;
}

 .NotFound-container p{
  color: black;
  background-color: #FBC41B;
  padding: 10px;
  border: 1px solid #FBC41B;
  border-radius: 10px;
}

.NotFound h3 {
  color: black;
  font-size: 50px;
}


.RecipeDetail{
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  width:500px;
  height: 400px;
  box-shadow: 5px 10px  #FBC41B;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  }

  .about-li , .about-gh {
    height:40px;
    width:40px;
  }
  
  .Developers{
    display:flex;
    flex-direction: row;
    gap:40px;
  }

  .dev1 , .dev2{
    display:flex;
    flex-direction: column;
  }